<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form>
        <label>full name</label><br>
        <input type='text' placeholder='Enter fullname' id='name' required><br><br>
        <label>email</label><br>
        <input type='email' placeholder='Enter Email' id='email' required><br><br>
        <label>mobile no.</label><br>
        <input type='text' placeholder='Enter Mobile No.' id='mobileno' required><br><br>
        <label>password</label><br>
        <input type='password' placeholder='Enter password' id='pwd' required><br><br>
        <label>confpassword</label><br>
        <input type='password' placeholder='Enter password again' id='cpwd' required><br><br>
        <button><a href="/signin">submit</a></button>
    </form>
    
</body>
</html>